<!doctype html>
<html {% if lang %}lang="{{lang}}"{% endif %}>
    <head>
        <meta charset="utf-8">
        <title>{{site.title}}</title>
        <link rel="alternate"  href="{{site.root}}/atom.xml" type="application/atom+xml" title="Atom Feed" />
        <link rel="stylesheet" href="{{site.root}}/css/normalize.css/normalize.css">
        <link rel="stylesheet" href="{{site.root}}/assets/fonts/Fork-Awesome-1.1.7/css/fork-awesome.min.css">
        {% if katex %}
            <link rel="stylesheet" href="{{site.root}}/css/katex/katex.min.css">
        {% endif %}
        <link rel="stylesheet" href="{{site.root}}/assets/fonts/PT-Sans-Narrow/stylesheet.css">
        <link rel="stylesheet" href="{{site.root}}/assets/fonts/PT-Serif/stylesheet.css">
        <link rel="stylesheet" href="{{site.root}}/assets/fonts/Jetbrains-Mono/stylesheet.css">
        <link rel="stylesheet" href="{{site.root}}/css/prism.css">
        <link rel="stylesheet" href="{{site.root}}/css/screen.css">
    </head>
    <body>
		{% include "header.njk" %}
        <main>
			{% block main %}
       			Main content
			{% endblock %}
        </main>
		{% include "footer.njk" %}
		{% include "piwik.njk" %}
    </body>
</html>
