<!doctype html>
<html {% if lang %}lang="{{lang}}"{% endif %}>
    <head>
        <meta charset="utf-8">
        <title>{{site.title}}</title>
        <link rel="alternate"  href="{{site.root}}/atom.xml" type="application/atom+xml" title="Atom Feed" />
        <link rel="stylesheet" href="{{site.root}}/css/normalize.css/normalize.css">
        <link rel="stylesheet" href="{{site.root}}/css/fontawesome/css/all.min.css">
        {% if katex %}
            <link rel="stylesheet" href="{{site.root}}/css/katex/katex.min.css">
        {% endif %}
        <link rel="stylesheet" href="{{site.root}}/css/pt-sans-narrow/index.css">
        <link rel="stylesheet" href="{{site.root}}/css/pt-serif/index.css">
        <link rel="stylesheet" href="{{site.root}}/css/source-code-pro/index.css">
        <link rel="stylesheet" href="{{site.root}}/css/prismjs/prism.css">
        <link rel="stylesheet" href="{{site.root}}/css/screen.css">
    </head>
    <body>
		{% include "templates/header.html" %}
        <main>
			{% block main %}
       			Main content
			{% endblock %}
        </main>
		{% include "templates/footer.html" %}
		{% include "templates/piwik.html" %}
    </body>
</html>
