{% for p in posts %}
    <article>
        <header>
            <time datetime="{{p.date.toISOString()}}">{{p.date.toISOString().split("T")[0]}}</time>
            <h1><a href="{{site.root}}/{{p.path}}">{{p.title}}</a></h1>
            {{p.author}}
            <nav>
                {% for t in p.tags %}
                    <a href="{{site.root}}/tags/{{t}}.html">{{t}}</a>
                {% endfor %}
            </nav>
        </header>
        {{p.less}} <a href="{{site.root}}/{{p.path}}">Read more&hellip;</a>
    </article>
{% endfor %}
