{% from "tag-list.njk" import tagList %}

{% macro postList(posts) %}
    {% for p in posts %}
        <article>
            <header>
                <time datetime="{{p.date.toISOString()}}">{{p.date.toISOString().split("T")[0]}}</time>
                {% if p.subtitle %}
                    <h1>{{p.title}}</h1>
                    <h2><a href="{{site.root}}/{{p.path}}">{{p.subtitle}}</a></h2>
                {% else %}
                    <h1><a href="{{site.root}}/{{p.path}}">{{p.title}}</a></h1>
                {% endif %}
                {{p.author}}
                {{tagList(p.tags)}}
            </header>
            {{p.less}}
            <a href="{{site.root}}/{{p.path}}">{% if p.lang == "fr" %}Lire la suite{% else %}Read more{% endif %}&hellip;</a>
            {% if not loop.last %}<hr>{% endif %}
        </article>
    {% endfor %}
{% endmacro %}
