{% extends "page.njk" %}

{% block main %}
    <ul>
    {% for name, tag in allTags|dictsort %}
        <li><a href="{{site.root}}/tags/{{tag.urlSafe}}">{{name}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
