@font-face {
    font-family: "Antonio";
    src: url("/assets/vendor/antonio/Antonio-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Antonio";
    src: url("/assets/vendor/antonio/Antonio-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
