$link-color: #26a;

body {
    box-sizing: border-box;
    font-size: large;
    font-family: "PT Serif", serif;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    margin: 1em 10%;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1, h2, h3, h4 {
    font-family: "Antonio";
}

header h1 {
    font-size: 140%;
}

article {
    h1 { font-size: 160%; }
    
    h2 { font-size: 120%; }
    h2:before { content: "\203a\2002"; color: #aaa; }
    h3 { font-size: 100%; font-weight: normal; }
    h3:before { content: "\00bb\2002"; color: #aaa; }

    header h1 { font-size: 180%; }
    
    margin-bottom: 1em;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 1.5em;
    
    li {
        text-indent: -1.5em;
        padding-left: 1em;
    }
    
    li:before {
        content: "\2014\2002";
    }
}

