$link-color: rgb(34,102,170);
$table-heading-background: rgb(125,165,205);
$info-color: rgb(170, 255, 70);
$warning-color: rgb(255,220,70);

$heading-font: "Antonio", sans-serif;
$content-font: "PT Serif", serif;
$code-font: "Source Code Pro", monospace;

$shadow-color: rgba(100, 100, 100, 0.75);

@mixin shadowed-block {
    -webkit-box-shadow: 0px 3px 6px 0px $shadow-color;
    -moz-box-shadow:    0px 3px 6px 0px $shadow-color;
    box-shadow:         0px 3px 6px 0px $shadow-color;
}

@mixin outlined-block {
    border: 10px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include shadowed-block;
}

body {
    box-sizing: border-box;
    font-size: large;
    font-family: $content-font;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    margin: 1em 10%;

    > header nav a {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

header {
    text-align: center;
    margin-bottom: 2em;
}

footer {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

hr {
    width: 30%;
    height: 1px;
    border: none;
    background: #aaa;
}

h1, h2, h3, h4 {
    font-family: $heading-font;
}

header h1 {
    font-size: 140%;
}

article {
    h1 { font-size: 160%; }
    
    h2 { font-size: 120%; }
    h2:before { content: "\203a\2002"; color: #aaa; }
    h3 { font-size: 100%; font-weight: normal; }
    h3:before { content: "\00bb\2002"; color: #aaa; }

    header {
        h1 { font-size: 180%; }
        
        margin-bottom: 2em;
    }
    
    margin-bottom: 1em;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 1.5em;
    
    li {
        text-indent: -1.5em;
        padding-left: 1em;
    }
    
    li:before {
        content: "\2014\2002";
    }
}

table {
    margin-left: auto;
    margin-right: auto;
    
    th, td {
        padding: 0.3em 1em;
    }
    
    th {
        text-align: center;
        font-family: $heading-font;
        font-weight: normal;
        background: $table-heading-background;
    }
    
    td {
        border-bottom: 1px solid #aaa;
    }
}

blockquote {
    border-left: 0.3em solid $table-heading-background;
    font-style: italic;
    margin-left: 1em;
    padding: 0.1em 1em;
}

pre, code {
    font-family: $code-font;
}

code {
    background: rgba(230, 230, 230, 0.75);
    border-radius: 0.25em;
    padding: 0 0.3em;
}

.info, .warning {
    padding: 0.3em 1em;
}

.info {
    background: $info-color;
    @include shadowed-block;
}

.warning {
    background: $warning-color;
    @include shadowed-block;
}

object {
    @include outlined-block;
}

main img {
    @include outlined-block;
}
