@font-face {
    font-family: "Source Code Pro";
    src: url("/assets/vendor/source-code-pro/SourceCodePro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/assets/vendor/source-code-pro/SourceCodePro-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
