$link-color: rgb(34,102,170);
$icon-color: rgb(130, 150, 170);
$table-heading-background: rgb(190, 200, 210);
$info-color: rgb(200, 220, 255);
$warning-color: rgb(255,220,70);
$code-background: rgba(170, 170, 170, 0.25);
$pre-background: rgba(170, 170, 170, 0.15);

$heading-font: "PT Sans Narrow", sans-serif;
$content-font: "PT Serif", serif;
$code-font: "JetBrains Mono", monospace;

$shadow-color: rgba(100, 100, 100, 0.75);
$text-shadow-color: rgba(100, 100, 100, 0.5);

@mixin shadowed-block {
    -webkit-box-shadow: 0px 3px 6px 0px $shadow-color;
    -moz-box-shadow:    0px 3px 6px 0px $shadow-color;
    box-shadow:         0px 3px 6px 0px $shadow-color;
}

@mixin shadowed-text {
    -webkit-text-shadow: 0px 1px 2px $text-shadow-color;
    -moz-text-shadow:    0px 1px 2px $text-shadow-color;
    text-shadow:         0px 1px 2px $text-shadow-color;
}

@mixin outlined-block {
    border: 10px solid white;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(60rem - 30px);
    @include shadowed-block;
}

body {
    box-sizing: border-box;
    font-size: 14pt;
    font-family: $content-font;
	// font-variant-ligatures: none;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    margin: 1rem 0;
    margin-bottom: 1rem;
    margin: 1rem 1rem;

    > header form {
        display: inline;
    }
}

@media (min-width: 60rem) {
    body {
        margin: 1rem calc(50vw - 30rem);
    }
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body > header nav a,
article footer nav a {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

nav.social {
    a { color: $icon-color; }
    a:hover { color: $link-color; }
}

img.buymeacoffee {
    height: 1em;
}

hr {
    width: 30%;
    height: 1px;
    border: none;
    background: #aaa;
}

h1, h2, h3, h4 {
    font-family: $heading-font;
    font-weight: normal;
    @include shadowed-text;
}

header h1 {
    font-size: 140%;
}

article {
    header {
        h1 {
            position: relative;
            font-size: 180%;
        }

        nav {
            margin-top: 1rem;
        }

        margin-bottom: 2rem;
    }

    section {
        h1, h2 {
            position: sticky;
            top: 0px;
            background-color: white;
        }

        h1, h2, h3 {
            margin-top: 1.5em;
            word-wrap: normal;
            hyphens: none;
            text-align: left;
        }

        @media (min-width: 64rem) {
            h1, h2, h3 {
                margin-left: -1rem;
                width: 62rem;
            }
        }

        h1 { font-size: 160%; }

        h2 { font-size: 120%; }
        h2:before { content: "\203a\2002"; color: #aaa; }

        h3 { font-size: 100%; font-weight: normal; }
        h3:before { content: "\00bb\2002"; color: #aaa; }

        img {
            display: block;
            @include outlined-block;
        }
    }

    margin-bottom: 1rem;

    p, li {
        line-height: 1.4;
    }
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 1.5em;

    li {
        text-indent: -1.5em;
        padding-left: 1em;
    }

    li:before {
        content: "\2014\2002";
    }
}

ul.story {
    li:before {
        content: "\203a\2002";
        color: #aaa;
    }

    time {
        font-size: 75%;
    }
}

table {
    @include outlined-block;

    th, td {
        padding: 0.3em 1em;
    }

    th {
        text-align: center;
        font-family: $heading-font;
        font-weight: normal;
        background: $table-heading-background;
    }

    td {
        border-bottom: 1px solid #aaa;
    }
}

blockquote {
    border-left: 0.3em solid $table-heading-background;
    font-style: italic;
    margin-left: 1em;
    padding: 0.1em 1em;
}

pre {
    padding: 0.5em 1em;
    @include shadowed-block;
    overflow-x: auto;
    background: $pre-background;
}

pre, code {
    font-family: $code-font;
    font-size: 90%;

    font-variant-ligatures: none;
    text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

    -moz-tab-size: 4;
	tab-size: 4;

	hyphens: none;
}

code {
    border-radius: 0.25em;
    padding: 0 0.3em;
    background: $code-background;
}

pre code {
    padding: 0;
    background: transparent;
}

.info, .warning {
    padding: 0.3em 1em;
}

.info {
    background: $info-color;
    @include shadowed-block;
}

.warning {
    background: $warning-color;
    @include shadowed-block;
}
